# Template docker-push

# This template allows you to build and push your docker image to a Docker Hub account.
# The workflow allows running tests, code linting and security scans on feature branches (as well as master).
# The docker image will be validated and pushed to the docker registry after the code is merged to master.

# Prerequisites: $DOCKERHUB_USERNAME, $DOCKERHUB_PASSWORD setup as deployment variables

options:
  docker: true
  size: 2x

image: atlassian/default-image:2

pipelines:
  branches:
    master:
      - step:
          name: Placeholder
          script:
            - echo "hello world"
      - parallel:    
        - step:
            name: Deploy API Image
            condition:
              changesets:
                  includePaths:
                      - "server/**"
            image: atlassian/pipelines-awscli:latest
            trigger: manual
            script:
              - docker build ./server --tag "${API_IMAGE_NAME}"
              - pipe: atlassian/aws-ecr-push-image:1.2.2
                variables:
                  IMAGE_NAME: "${API_IMAGE_NAME}"
              - aws ecs update-service --cluster $CLUSTER --service $API_ECS_SERVICE_NAME --task-definition $API_TASK_DEFINITION_NAME --force-new-deployment
            services:
              - docker

        - step:
            name: Deploy WebClient Image
            condition:
              changesets:
                  includePaths:
                      - "client/**"
            image: atlassian/pipelines-awscli:latest
            trigger: manual
            size: 2x
            script:
              - docker build ./client --tag "${CLIENT_IMAGE_NAME}"
              - pipe: atlassian/aws-ecr-push-image:1.2.2
                variables:
                  IMAGE_NAME: "${CLIENT_IMAGE_NAME}"
              - aws ecs update-service --cluster $CLUSTER --service $CLIENT_SERVICE_NAME_DEV --task-definition $CLIENT_TASK_DEFINITION_NAME --force-new-deployment
            services:
              - docker

definitions:
  services:
    docker:
      memory: 4096
