<div id="profile" class="page-layout simple tabbed">

  <!-- HEADER -->
  <div class="header p-24">
      <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
           fxLayoutAlign.gt-sm="start center">
          <img class="profile-image avatar huge" src="assets/images/avatars/Velazquez.jpg">
          <div class="name">
              Charlie Adams
          </div>
          <button mat-raised-button color="accent" class="change-avatar">Change avatar</button>
      </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->

  <!-- / CONTENT -->

</div>
