<div class="demo-sidebar">
  <div class="example-container">

    <h1 class='filter-title'>Filters <mat-icon>filter_list</mat-icon></h1>

    <!-- Price filter -->
    <div id="price-filter">
      <h2 class='title'>Price</h2>
      <div fxLayout="row" fxLayoutGap="16px">

        <form class='form' name="filtersForm" [formGroup]='formFilters'>
          <mat-form-field appearance="legacy">
            <mat-label>Min. Price</mat-label>
            <input matInput formControlName='minPrice'>
          </mat-form-field>
        </form>

        <form class='form' name="filtersForm" [formGroup]='formFilters'>
          <mat-form-field appearance="legacy">
            <mat-label>Max. Price</mat-label>
            <input matInput formControlName='minPrice'>
          </mat-form-field>
        </form>

      </div>
    </div>

    <!-- /Price filter -->

    <!-- Condition filter -->

    <div id='condition-filter'>
      <h2 class='title'>Condition</h2>
        
      <section class="section">
        <div fxLayout="column">
          <mat-checkbox class="example-margin">New</mat-checkbox>
          <mat-checkbox class="example-margin">Used</mat-checkbox>
        </div>
        </section>
              
    </div>
        
    <!-- /Condition filter -->

    <!-- Manufacturer filter -->

    <div id='manufacturer-filter'>
      <h2 class='title'>Manufacturer</h2>

      <section class="section">
        <div fxLayout="column">
          <mat-checkbox class="example-margin">Manufacturer 1</mat-checkbox>
          <mat-checkbox class="example-margin">Manufacturer 2</mat-checkbox>
          <mat-checkbox class="example-margin">Manufacturer 3</mat-checkbox>
        </div>
      </section>
      
    </div>

    <!-- /Manufacturer filter -->

    <br>
    <div fxLayout="row">
      <button mat-button fuseWidgetToggle>Clear</button>
      <button mat-raised-button color="accent">Search</button>
    </div>

  </div>
</div>
  