<div class="dialog-content-wrapper">
  
  <!-- TOOLBAR -->
  <mat-toolbar class="mat-accent m-0">
    <mat-toolbar-row>
      <h1 mat-dialog-title>Hi</h1>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- /TOOLBAR -->

  <!-- CONTENT -->
  <div mat-dialog-content class="p-16 pb-0 m-0">
    <p>What's your favorite animal?</p>
    <mat-form-field>
      <mat-label>Favorite Animal</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <!-- /CONTENT -->

  <div mat-dialog-actions>
    <button mat-button>No Thanks</button>
    <button mat-button cdkFocusInitial>Ok</button>
  </div>
</div>
