<div id="order-checkout" class="page-layout carded fullwidth">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

      <!-- CONTENT HEADER -->
      <div class="header accent p-24">
          <h1 class="m-20 mt-32">Order Checkout</h1>
      </div>
      <!-- / CONTENT HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card">

          <div class="toolbar"></div>
          
          <!-- CONTENT -->
          <div class="content p-24">

            <div class="order-details">
              <mat-list class="mb-16 pt-0" role="list" fusePerfectScrollbar>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem" *ngFor="let product of products">
                  <div class="product-info-wrapper mb-12">
                    <div class="image-wrapper pt-12">
                        <img src="assets/images/ecommerce/yosemite.jpg">
                    </div>
                    <div class="product-information ml-8" fxLayout="column">
                        <div class="name-price-wrapper">
                          <div class="mat-title product-name mt-12">{{ product.name }}</div>
                          <div class="mat-body-2 product-price">${{ (product.price * product.quantity).toFixed(2) }}</div>
                        </div>
                        <div class="product-quantity">
                            <mat-form-field class="w-100 mt-0" appearance="legacy">
                                <mat-label>Quantity</mat-label>
                                <mat-select [(value)]="product.quantity">
                                    <mat-option [value]="option" *ngFor="let option of [1,2,3,4,5,6,7,8,9]">{{ option }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <mat-divider class="mt-12"></mat-divider>
                </mat-list-item>
              </mat-list>

              <div class="payment-information-wrapper">
                <div class="payment-information">
                  <h3></h3>
                </div>
              </div>
            </div>

            <div class="user-information">
              <mat-horizontal-stepper [linear]="isLinear" #stepper>
                <mat-step [stepControl]="firstFormGroup">
                  <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Fill out your name</ng-template>
                    <mat-form-field>
                      <mat-label>Name</mat-label>
                      <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                    </mat-form-field>
                    <div>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
                  <form [formGroup]="secondFormGroup">
                    <mat-form-field>
                      <mat-label>Address</mat-label>
                      <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                             required>
                    </mat-form-field>
                    <div>
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step>
                  <ng-template matStepLabel>Done</ng-template>
                  <p>You are now done.</p>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                  </div>
                </mat-step>
              </mat-horizontal-stepper>
            </div>

          </div>
          <!-- / CONTENT -->

      </div>
      <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>


