quick-panel {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    z-index: 99;

    .mat-slide-toggle-content {
        flex: 1;
    }

    .content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        .products-list {
            flex: 1 1 auto;

            .mat-headline {
                text-align: center;
            }
    
            .product-content {

                img {
                    height: 150px;
                    width: 150px;
                }
                
                .product-information {
                    display: flex;

                    .product-price {
                        flex: 1 1 auto;
                    }
                }

                mat-list-item {
                    height: 180px;
                }
            }
        }
    
        .checkout-button {
            width: 100%;
        }
    }
}
